// Elliance UI Kit
// Nav Colors

  $elliance-nav3: #8C847B; 
  $elliance-border: #CBC0B3;

  $elliance-nav2: #7F7870;
  $elliance-nav1: #65605A;

  $elliance-nav-closed: #3F3C38;
  $elliance-nav-closed2: #65605A;

  $elliance-nav-hover: #524F4A;

// Button Colors

// Fonts

  $body-font: Arial, Helvetica, sans-serif;
  $headline-font: 'Nova Square', cursive;

// Shadowing

  $default-shadow: #CCC 0px 2px 2px;

// Line-heights

  $default-line-height: 1.6;


// Border-radii

  $default-border-radius: 8px;


// Sizing

  $max-width: 1400px;


// Mixins - Header Styles

@mixin h1-style 
{
  font-family: $headline-font;
  border-bottom: 1px solid #EFEFEF;
  padding: 20px 0;
  font-size: 2em;
}

@mixin h2-style 
{
  font-size: .9em;
  font-family: $headline-font;
  padding: 20px 0;
}

// Mixins - Animations

@mixin animation-slow
{
-webkit-transition: all 0.3s ease-out;  
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

@mixin animation-fast
{
-webkit-transition: all 0.1s ease-out;  
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;
}

// Mixins - Gradients

@mixin gradient-green
{
background-color: #8fc800; // Old browsers
@include filter-gradient(#8fc800, #8fc800, vertical); // IE6-9
@include background-image(linear-gradient(top,  #8fc800 0%,#8fc800 100%));
}

@mixin gradient-red 
{
background-color: #ff3019;
@include filter-gradient(#ff3019, #cf0404, vertical);
@include background-image(linear-gradient(top,  #ff3019 0%,#cf0404 100%));
}

@mixin gradient-blue
{
background-color: #00b7ea;
@include filter-gradient(#00b7ea, #009ec3, vertical);
@include background-image(linear-gradient(top,  #00b7ea 0%,#009ec3 100%));
}

@mixin gradient-orange
{
background-color: #ffaf4b;
@include filter-gradient(#ffaf4b, #ff920a, vertical);
@include background-image(linear-gradient(top,  #ffaf4b 0%,#ff920a 100%));
}

@mixin gradient-purple
{
background-color: #e570e7;
@include filter-gradient(#e570e7, #a849a3, vertical);
@include background-image(linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%));
}

@mixin gradient-black
{
background-color: #7d7e7d;
@include filter-gradient(#7d7e7d, #0e0e0e, vertical);
@include background-image(linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%));
}

@mixin gradient-white
{
background-color: #ffffff;
@include filter-gradient(#ffffff, #e5e5e5, vertical);
@include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 100%));
}

//imports 
@import "compass/reset";
@import "compass";
@import "grid";
@import "nav";
@import "buttons";

