// Standard Button Formatting

a.btn
{
  text-align: center;
  display: block;
  padding: 10px 0;
  border-radius: $default-border-radius;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-family: $body-font;
  font-size: .8em;
}

// Button Sizing Options

a.btn.large 
{
width: 100%;
}

a.btn.medium 
{
width: 66%;
}

a.btn.small 
{
width: 33%;
}

// Button Color Options

a.black
{
  @include gradient-black;
}

a.orange
{
@include gradient-orange;
}

a.red
{
@include gradient-red;
}

a.green
{
@include gradient-green;
}

a.blue
{
@include gradient-blue;
}

a.purple
{
@include gradient-purple;
}

a.white
{
@include gradient-white;
color: #000;
}