@charset "IBM437";
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Columns: 12, Gutter Width: 1.5, Breakpoints:  */
/* line 22, ../sass/_grid.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/_grid.scss */
.col {
  margin-left: 1.5%;
}

/* line 33, ../sass/_grid.scss */
.col:first-child {
  margin-left: 0;
}

/* line 37, ../sass/_grid.scss */
.span1 {
  width: 6.958%;
}

/* line 41, ../sass/_grid.scss */
.span2 {
  width: 15.417%;
}

/* line 45, ../sass/_grid.scss */
.span3 {
  width: 23.875%;
}

/* line 49, ../sass/_grid.scss */
.span4 {
  width: 32.333%;
}

/* line 53, ../sass/_grid.scss */
.span5 {
  width: 40.792%;
}

/* line 57, ../sass/_grid.scss */
.span6 {
  width: 49.25%;
}

/* line 61, ../sass/_grid.scss */
.span7 {
  width: 57.708%;
}

/* line 65, ../sass/_grid.scss */
.span8 {
  width: 66.167%;
}

/* line 69, ../sass/_grid.scss */
.span9 {
  width: 74.625%;
}

/* line 73, ../sass/_grid.scss */
.span10 {
  width: 83.083%;
}

/* line 77, ../sass/_grid.scss */
.span11 {
  width: 91.542%;
}

/* line 81, ../sass/_grid.scss */
.span12 {
  width: 100%;
  margin-left: 0;
}

/* line 88, ../sass/_grid.scss */
#container, .inner {
  margin: 0 auto;
}

/* line 94, ../sass/_grid.scss */
#container {
  clear: both;
  padding-top: 20px;
}

/* line 100, ../sass/_grid.scss */
.cf {
  zoom: 1;
}
/* line 104, ../sass/_grid.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 109, ../sass/_grid.scss */
.cf:after {
  clear: both;
}

/* line 6, ../sass/_nav.scss */
.sub-nav {
  background-color: #0e3a53;
  box-shadow: #cccccc 0px 2px 2px;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 15, ../sass/_nav.scss */
.sub-nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Nova Square", cursive;
}
/* line 21, ../sass/_nav.scss */
.sub-nav a:hover {
  text-decoration: underline;
}
/* line 33, ../sass/_nav.scss */
.sub-nav ul li {
  background-color: #65605a;
  border-top: 1px solid #cbc0b3;
  position: relative;
}
/* line 41, ../sass/_nav.scss */
.sub-nav ul li a:first-of-type {
  padding: 10px 0px 0px 10px;
  display: block;
  height: 25px;
  font-size: .8em;
}
/* line 51, ../sass/_nav.scss */
.sub-nav ul li .more, .sub-nav ul li .less {
  width: 40px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0;
  background: url(../img/nav.png) no-repeat;
  right: 0;
}
/* line 61, ../sass/_nav.scss */
.sub-nav ul li .more:hover, .sub-nav ul li .less:hover {
  background-color: #524f4a;
}
/* line 68, ../sass/_nav.scss */
.sub-nav ul li .more {
  background-color: #3f3c38;
  background-position: 13px 3px;
}
/* line 69, ../sass/_nav.scss */
.sub-nav ul li .less {
  background-color: #7f7870;
  background-position: -54px 4px;
}
/* line 74, ../sass/_nav.scss */
.sub-nav ul li li {
  background-color: #7f7870;
  border-top: 1px solid #cbc0b3;
  border-bottom: none;
}
/* line 82, ../sass/_nav.scss */
.sub-nav ul li li a:first-of-type {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 87, ../sass/_nav.scss */
.sub-nav ul li li a:first-of-type:before {
  content: "»  ";
}
/* line 94, ../sass/_nav.scss */
.sub-nav ul li li .less {
  background-color: #8c847b;
}
/* line 95, ../sass/_nav.scss */
.sub-nav ul li li .more {
  background-color: #65605a;
}
/* line 100, ../sass/_nav.scss */
.sub-nav ul li li ul {
  border-bottom: none;
}
/* line 104, ../sass/_nav.scss */
.sub-nav ul li li ul li {
  background-color: #8c847b;
  border-bottom: none;
  border-top: 1px solid #cbc0b3;
}
/* line 113, ../sass/_nav.scss */
.sub-nav ul li li ul li a:first-of-type:before {
  content: "-  " !important;
}
/* line 120, ../sass/_nav.scss */
.sub-nav ul li li ul li .less {
  background-color: #337a9va;
}

/* line 136, ../sass/_nav.scss */
.el-nav-toggle > .el-nav-target {
  height: 0;
  visibility: hidden;
}
/* line 144, ../sass/_nav.scss */
.el-nav-toggle > .el-nav-toggle-toggler .less {
  display: none;
}
/* line 147, ../sass/_nav.scss */
.el-nav-toggle > .el-nav-toggle-toggler .more {
  display: block;
}

/* line 158, ../sass/_nav.scss */
.el-nav-toggle.el-nav-toggle-expanded > .el-nav-target {
  height: auto;
  visibility: visible;
}
/* line 164, ../sass/_nav.scss */
.el-nav-toggle.el-nav-toggle-expanded > .el-nav-toggle-toggler .less {
  display: block;
}
/* line 167, ../sass/_nav.scss */
.el-nav-toggle.el-nav-toggle-expanded > .el-nav-toggle-toggler .more {
  display: none;
}

/* line 184, ../sass/_nav.scss */
.lt-ie9 .sub-nav ul li a {
  padding: 10px 10px 0 10px !important;
  display: block;
  font-size: .8em;
}

/* line 4, ../sass/screen.scss */
body {
  width: 90%;
  padding-left: 5%;
  margin: 0 auto;
}
/* line 10, ../sass/screen.scss */
body h1 {
  font-family: "Nova Square", cursive;
  padding: 20px 0;
  font-size: 2em;
}
